<% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- user紹介部分　-->
<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
</table>


<!-- 編集部分と投稿部分 -->
<div>
  <%= link_to edit_user_path(user.id) do %>
    <i class="fa-solid fa-user-gear" style="color: #5f6267;"></i>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model: book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>